body {
  margin: 0%;
  padding: ;
}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
   height: 100px;
   background-color: rgb(74, 152, 174);
   border-radius: 20px 20px 20px 20px;
   padding: 0 20px;
   transition: transform 0.5s ease-in-out;
 }

 .header:hover {
   transform: scale(0.9)
 }

 .custom-p {
   position: relative;
   top:0px;
   right:0px;
   font-size: 20px;
   color: rgb(191, 191, 195);
 }
     
 .custom-li{
   position:relative;
   font-size: 20px;
   color:rgb(5, 5, 59)
 }
 
 .header img {
   width: 80px;
   height: 80px;
   border-radius: 10px;
   margin-right: 5px;
   margin-left:20px;
   animation: move-right 1s ease-in-out infinite;
 }
 
 .header h1 {
   color: white;
   font-size: 24px;
   font-family: Arial, sans-serif;
   text-align: center;
   animation: text-fade-in 1s ease-in-out;
 }
 
 .header p {
   color: white;
   font-size: 18px;
   font-family: Arial, sans-serif;
   text-align: center;
   animation: text-fade-in 1s ease-in-out;
 }
 
 @keyframes move-right {
   0% {
     transform: translateX(0);
   }
   50% {
     transform: translateX(10px);
   }
   100% {
     transform: translateX(0);
   }
 }
 
 @keyframes text-fade-in {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
h2 {
   display: block;
  background-color: rgb(46, 138, 143);
  color: white;
  font-family: "Century Gothic", sans-serif;
  border-radius: 20px 20px 20px 20px;
  border-style: double;
  font-size: 18px;
  padding: 5px 10px;
  width: fit-content;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  animation: text-fade-in 1s ease-in-out;
}

h2:hover {
  transform: scale(1.1);
}
h3 {
   position: relative;
   top:-910px;
   right:-400px;
   background-color: rgb(46, 138, 143);
   color: white;
   margin-top: 20px;
   font-family: sans-serif;
   border-radius: 20px 20px 20px 20px;
   border-style: double;
   font-size: 18px;
   padding: 5px 10px;
   display: inline-block;
   width: fit-content;
   text-align: center;
   transition: transform 0.2s ease-in-out;
   animation: text-fade-in 1s ease-in-out;
 }
 h3:hover {
   transform: scale(1.1);
 }

 p{
   position: relative;
   font-size: 18px;
   top:-910px;
   right:-400px;
   margin-left: 10px;
   margin-right: 20px;
   color:rgb(25, 25, 59)
   transition: transform 0.2s ease-in-out;
   animation: text-fade-in 1s ease-in-out;
 }

 .list-container {
   border: 1px solid gray;
   padding: 10px;
   display: block;
   width: fit-content;
   border-radius: 20px 20px 20px 20px;
   box-shadow: 5px 5px 3px gray;
   transition: transform 0.2s ease-in-out;
   animation: text-fade-in 1s ease-in-out;
   font-family: "Century Gothic", sans-serif;

 }
 .list-container:hover {
   transform: scale(0.9);
 }

 .list-container1 {
   position:relative;
   top:-910px;
   right:-400px;
   border: 1px solid gray;
   padding: 10px;
   display: block;
   width: fit-content;
   border-radius: 20px 20px 20px 20px;
   box-shadow: 5px 5px 3px gray;
   transition: transform 0.2s ease-in-out;
   animation: text-fade-in 1s ease-in-out;
   font-family: "Century Gothic", sans-serif;
 }

 .list-container1:hover {
   transform: scale(0.9);
 }
 ul {
   width: 250px;
   margin: 0 auto;
   text-align: left;
   display: block;
   padding: 0 20px;
   font-family: "Century Gothic", sans-serif;
   transition: transform 0.5s ease-in-out;
 }
 
 button {
   background: rgb(181, 63, 98);
   color: white;
   border: none;
   border-radius: 10px;
   box-shadow: 2px 2px 1px rgb(201, 156, 172);
   width: fit-content;
   padding: 5px 10px;
   font-family: sans-serif;
   font-size: 18px;
   transition: transform 0.2s ease-in-out;
 }
 
 button:hover {
   transform: scale(1.1);
 }


footer {
   background: rgb(17, 47, 59);
   color: #fff;
   text-align: center;
   padding: 20px;
}
 